fastapi
uvicorn[standard]
pydantic
pydantic-settings
SQLAlchemy
aiosqlite
cryptography
python-dotenv
pyowm
bcrypt
PyJWT
email-validator
httpx
python-socketio
ruff
pyinstaller>=6.0
# pictureswitch
Pillow>=10.0
pillow-heif>=0.15
cairosvg>=2.7
pyavif
numpy
